In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('covid_19_in_education.csv')

In [3]:
df.head()

,submission_id,submission_date,gender,age,geography,financial_situation,education,employment_status,submission_state,can_children_observe_deterioration_of_basic_services_of_school,do_children_3_and_17_yrs_receive_regular_school_meals,are_there_teachers_at_scheduled_class_hours
0,4.570000e+15,17-03-2021,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,1,Every day,Irregularly
1,6.440000e+15,29-03-2021,Male,26 to 35 years old,Suburban/Peri-urban,I cannot afford enough food for my family,University or college degree completed,I am unemployed,Miranda,1,No,Irregularly
2,5.000000e+15,18-03-2021,Female,26 to 35 years old,City center or metropolitan area,"I can comfortably afford food, clothes, and fu...",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,1,No,There are not enough
3,5.520000e+15,24-03-2021,Male,36 to 45 years old,Suburban/Peri-urban,"I can afford food, but nothing else",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,1,No,There are enough
4,5.030000e+15,18-03-2021,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,1,No,There are not enough

In [4]:
df.shape

(4436, 12)

In [5]:
print(df['geography'].unique())
print()
print(df['age'].unique())
print()
print(df['education'].unique())
print()
print(df['employment_status'].unique())

['Suburban/Peri-urban' 'City center or metropolitan area' 'Rural'
 'Not Available']

['Over 45 years old' '26 to 35 years old' '36 to 45 years old'
 '16 to 25 years old' 'Under 16' 'Not Available']

['University or college degree completed'
 'Technical school diploma or degree completed'
 'Some technical education (e.g polytechnic school)'
 'Some university or college' 'Secondary school/ high school completed'
 'Primary school completed' 'Some primary education'
 'Some secondary school / high school' 'Post-graduate education'
 'Prefer not to answer' 'No formal education' 'Not available'
 'College or university' 'Post graduate' 'Technical school'
 'Secondary/high school']

['I am unemployed'
 'I work full-time, either as an employee or self-employed'
 'I do housework, fulfilling domestic tasks, looking after children'
 'I work part-time, either as an employee or self-employed' 'I am retired'
 'I am a student and I work part-time' 'I am a student'
 'None of the above' 'I am doing community or military service'
 'I am unable to work due to long-term illness or disability'
 'Not Available' 'Employed full-time' 'Retired' 'Student' 'Unemployed']

In [6]:
# Checking missing values ( since no null values so,..... )
df.isnull().sum()

submission_id                                                     0
submission_date                                                   0
gender                                                            0
age                                                               0
geography                                                         0
financial_situation                                               0
education                                                         0
employment_status                                                 0
submission_state                                                  0
can_children_observe_deterioration_of_basic_services_of_school    0
do_children_3_and_17_yrs_receive_regular_school_meals             0
are_there_teachers_at_scheduled_class_hours                       0
dtype: int64

In [7]:
df.columns

Index(['submission_id', 'submission_date', 'gender', 'age', 'geography',
       'financial_situation', 'education', 'employment_status',
       'submission_state',
       'can_children_observe_deterioration_of_basic_services_of_school',
       'do_children_3_and_17_yrs_receive_regular_school_meals',
       'are_there_teachers_at_scheduled_class_hours'],
      dtype='object')

In [8]:
final_dataset=df[['gender', 'age', 'geography',
       'financial_situation', 'education', 'employment_status',
       'submission_state','can_children_observe_deterioration_of_basic_services_of_school',
       'do_children_3_and_17_yrs_receive_regular_school_meals',
       'are_there_teachers_at_scheduled_class_hours']]

In [9]:
final_dataset.head()

,gender,age,geography,financial_situation,education,employment_status,submission_state,can_children_observe_deterioration_of_basic_services_of_school,do_children_3_and_17_yrs_receive_regular_school_meals,are_there_teachers_at_scheduled_class_hours
0,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,1,Every day,Irregularly
1,Male,26 to 35 years old,Suburban/Peri-urban,I cannot afford enough food for my family,University or college degree completed,I am unemployed,Miranda,1,No,Irregularly
2,Female,26 to 35 years old,City center or metropolitan area,"I can comfortably afford food, clothes, and fu...",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,1,No,There are not enough
3,Male,36 to 45 years old,Suburban/Peri-urban,"I can afford food, but nothing else",University or college degree completed,"I work full-time, either as an employee or sel...",Miranda,1,No,There are enough
4,Female,Over 45 years old,Suburban/Peri-urban,"I can afford food and regular expenses, but no...",University or college degree completed,I am unemployed,Miranda,1,No,There are not enough

In [14]:
df['gender'] = df['gender'].replace({'female': '0'})

In [ ]:
final_dataset.head()